COMPOSE_PROJECT_NAME=omnipbx
ASTERISK_VERSION=22.9.0
OMNIPBX_APP_VERSION=0.1.0
OMNIPBX_WEB_PORT=18000
OMNIPBX_PUBLIC_HTTP_PORT=80
OMNIPBX_PUBLIC_HTTPS_PORT=443
POSTGRES_DB=omnipbx
POSTGRES_USER=omnipbx
POSTGRES_PASSWORD=change-me
ASTERISK_SIP_PORT=5060
ASTERISK_RTP_START=10000
ASTERISK_RTP_END=10100
